.margin-aligner {
  margin-top: 4%;
}

.custom-border {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(230, 230, 230);
}

.form-seperater-line {
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #0a718566;
}

.form-seperater-line p {
  font-size: 14px;
  font-weight: 500;
  color: #0a7085;
}
