.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 6px;
  border-style: none;
  outline: none;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  border-style: none;
  outline: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e93030;
  transition: 0.4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: -6px;
  background-color: rgb(255, 255, 255);
  transition: 0.4s;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(170, 170, 170);
}

input:checked + .slider {
  background-color: #26af2a;
}

input:focus + .slider {
  box-shadow: 0 0 1px #26af2a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.table-head {
  background-color: #f5f5f5;
  color: rgb(0, 0, 0);
  font-weight: 500;
}

.custom-table {
  border-color: rgb(231, 231, 231);
}

.td-spe {
  color: black;
  font-weight: 500;
}

.custom-border {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(230, 230, 230);
}

.img-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(230, 230, 230);
}

.img-box img {
  width: 400px;
}

.grey-txt {
  color: #ff0000;
}
