.custom-table {
  border-color: rgb(220, 220, 220);
}

.item-table-th {
  background-color: rgba(50, 69, 190, 0.077);
  color: rgb(0, 0, 0);
  font-weight: 500;
}

.order-data p {
  color: #5f6580;
}
