<div class="custom-box-shadow">
  <app-popup-title
    [title]="mode + ' Measuring Equipment'"
    (close)="closePopup.emit()"
  ></app-popup-title>

  <div class="p-3">
    <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
      <app-input-field
        [control]="dataForm.controls.name"
        inputId="equipmentName"
        label="Equipment Name"
        placeHolder="Equipment name"
        emptyError="Equipment name cannot be empty!"
        [isSubmit]="isSubmit"
        [mandatory]="true"
      >
      </app-input-field>

      <app-input-field
        [control]="dataForm.controls.code"
        inputId="equipmentCode"
        label="Equipment Code"
        placeHolder="Equipment code"
        emptyError="Equipment code cannot be empty!"
        [isSubmit]="isSubmit"
        [mandatory]="true"
      >
      </app-input-field>

      <app-submit-button
        [isSaving]="isSaving"
        saveType="submit"
        (resetData)="onReset()"
      ></app-submit-button>
    </form>
  </div>
</div>
