.form-seperater-line {
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #1a638e;
}

.margin-aligner {
  margin-top: 4%;
}

.form-seperater-line p {
  font-size: 13px;
  font-weight: 500;
  color: #1a638e;
}

.title-p {
  font-weight: 500;
  color: black;
  width: 150px;
}

.custom-div {
  height: 148px;
  width: 148px;
  overflow: hidden;
}
