.data-aligner {
  background-color: #000000;
}

.data-aligner p {
  color: rgba(255, 255, 255, 0.559);
}

.data-aligner h6 {
  color: rgb(255, 255, 255);
}

.create-back {
  width: 90%;
}

.grey-txt {
  color: rgb(77, 77, 77);
}

.grey-txt-n {
  color: rgb(143, 143, 143);
}

.align-g-txt {
  text-align: justify;
}

.sep-border {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: rgb(210, 210, 210);
}

.custom-table {
  border-collapse: collapse;
  width: max-content;
  min-width: 100%;
  table-layout: auto;
  border-color: rgb(220, 220, 220);
}

.item-table-th {
  background-color: rgba(0, 34, 255, 0.884);
  color: rgb(0, 0, 0);
  font-weight: 500;
}

.co-s {
  background-color: rgba(0, 255, 64, 0.055);
}

.width2 {
  width: 40vw;
  overflow-x: auto;
}

.width1 {
  width: 60vw;
}

.custom-table td {
  height: 50px;
  vertical-align: middle;
}

.table-w {
  border-style: solid;
  border-color: rgb(220, 220, 220);
  border-width: 1px;
  border-bottom-width: 0px;
  height: 30px;
  display: flex;
  align-items: center;
  padding-left: 5px;
  background-color: #ffffff28;
  color: #000000;
}

.text-grey {
  color: #858585;
}

input::placeholder {
  color: #a5a5a5;
  font-size: 12px;
  font-weight: 300;
}

.double-tab button {
  width: 50%;
  text-align: start;
  border-style: solid;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  background-color: #ffffff;
}

.Active-Tab {
  color: #0a7086;
  font-weight: 500;
  border-bottom-color: #0a7086;
  border-bottom-width: 2px;
}

.Deactive-Tab {
  color: #a9a9a9;
  font-weight: 400;
  border-bottom-color: #cecece;
  border-bottom-width: 1px;
}

.upload-btn {
  border-style: none;
  background-color: #21c30000;
  display: flex;
  align-items: center;
  border-radius: 3px;
  color: #8c8c8c;
}

.upload-btn i {
  font-size: 15px;
  color: #20c300;
}

.button-view {
  color: #8b90a8;
  font-size: 15px;
}

.button-delete {
  color: #8b90a8;
  font-size: 14px;
}

.button-view:hover {
  color: #ffae00;
}

.button-delete:hover {
  color: #ff0000;
}

.short-col {
  width: 100px;
}
