.text-b {
  font-weight: 500;
}

.main-sider {
  height: calc(100vh - 62px);
  border-right-style: solid;
  border-right-width: 1px;
  border-color: rgb(230, 230, 230);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bar-mg img {
  width: 70%;
  opacity: 1;
}
