.data-aligner {
  background-color: #000000;
}

.data-aligner p {
  color: rgba(255, 255, 255, 0.559);
}

.data-aligner h6 {
  color: rgb(255, 255, 255);
}

.weightImg img {
  width: 150px;
  border-style: solid;
  border-width: 3px;
  border-color: #0a6f8670;
  border-radius: 5px;
}

.des-wei {
  color: #6a6a6a;
}

.cus-border {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: rgb(212, 212, 212);
}
