.form-label-light {
  font-size: 12px;
  color: #000000;
  font-weight: 400;
  margin-bottom: 2px;
}

.radio-group-class {
  display: flex;
  gap: 50px;
}

.error-txt {
  font-size: 10px;
}

.de-checked-name {
  font-weight: 400;
  color: #838383;
}
