.form-seperater-line {
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #0a718566;
}

.form-seperater-line p {
  font-size: 14px;
  font-weight: 500;
  color: #0a7085;
}

.report-logo {
  height: 60px;
}
