.opt-card h6{
  color: rgb(255, 255, 255);
}

.opt-card p{
  color: rgba(255, 255, 255, 0.788);
}

.card-1x {
  background-color: rgb(0, 0, 0);
}

.card-br {
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: rgb(255, 255, 255);
}