.custom-footer {
  border-top-style: solid;
  border-width: 1px;
  border-color: rgb(230, 230, 230);
}

.f-image {
display: flex;
  justify-content: end;
  align-items: center;
}

.f-image img{
  height: 25px;
  
}