.item-category {
  color: rgb(146, 146, 146);
}

.div-border {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: rgb(211, 211, 211);
}

.view-value p {
  color: rgb(146, 146, 146);
  font-size: 12px;
}

.view-value h6 {
  font-weight: 400;
}

.report-logo {
  height: 50px;
  opacity: 90%;
}
